{% macro comments_script_commentbox(project, identifier) %}
<div class="commentbox"></div>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR | default('theme') }}/commentbox/commentBox.min.js"></script>
<script>
    commentBox("{{ project }}", {
        createBoxId: "{{ identifier }}",
        onCommentCount(count) {
            const ele = document.querySelector("#comment-accordion-toggle")
            if (ele) {
                if (count > 0) {
                    ele.innerText = `${count} Comment${count > 1 ? 's' : ''}`
                } else {
                    ele.innerText = 'Comments'
                }
            }
        }
    });
</script>
{% endmacro %}
