/**
 * Layout - Footer
 */

footer {
  align-content: center;
  align-items: center;
  border-top: 1px solid var(--elegant-border-color);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 15px 0 0 0;
  min-height: 40px;
  padding: 0 3px;
}

footer div {
  margin: 3px 0;
}

footer div:first-child {
  margin-right: auto;
}

footer div#fpowered {
  margin-left: auto;
  margin-right: unset;
}
