/**
 * Layout - Grid and base page structure
 */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

div#content {
  flex: 1 0 auto;
}

hr {
  border-width: 3px;
}

/* Page header */
.page-header {
  border-bottom: 2px solid var(--elegant-header-border);
  color: var(--elegant-header-border);
  margin: 10px 0 30px 0;
}

.page-header h1 {
  border: none;
  line-height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 10px 0px;
}
