/* Dark mode styles - Applied when Bootstrap dark theme is active */
[data-bs-theme="dark"] {
  --stork-border-color: hsl(0, 0%, 36%);
  --stork-background-color: hsl(0, 0%, 22%);
  --stork-accent-color: hsl(194, 90%, 53%);

  --stork-input-text-color: white;

  --stork-results-hover-color: hsl(210, 83%, 16%);
  --stork-results-title-color: white;
  --stork-results-excerpt-color: hsla(0, 0%, 80%, 1);
  --stork-results-highlight-color: rgb(94, 201, 186);
  --stork-results-border-color: hsl(0, 0%, 30%);
}

[data-bs-theme="dark"] .stork-close-button {
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 60%) 0%,
    hsl(0, 0%, 50%) 100%
  );
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  color: hsl(0, 0%, 25%);
}

[data-bs-theme="dark"] .stork-close-button:hover {
  background: hsla(0, 0%, 45%);
  cursor: pointer;
}

[data-bs-theme="dark"] .stork-close-button:active {
  background: hsla(0, 0%, 40%);
}
