article p:not(#list-of-translations):not(#post-share-links) a:not(.ampl),
article ol a:not(.ampl),
blockquote a:not(.ampl),
article
  div.article-content
  ul:not(.articles-timeline):not(.related-posts-list)
  a {
  color: var(--elegant-text-color);
  display: inline-block;
  position: relative;
  text-decoration: none;
  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--elegant-link-color);
    content: "";
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(5px);
  }
  &:hover {
    color: var(--elegant-link-color);
    text-decoration: none;
    transition: color 0.1s;
    &:after {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &:focus {
    text-decoration: none;
  }
}
div.recent-posts-posted a {
  color: inherit;
  padding-left: 0.3em;
  &:hover {
    border-bottom: 1px dashed;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
#lunr-search-result > div.lunr-search-result-item > h4 > a,
a.ampl {
  color: var(--elegant-link-color);
  display: inline-block;
  position: relative;
  &:focus {
    text-decoration: none;
  }
  &:hover {
    color: var(--elegant-link-hover-color);
    text-decoration: none;
    transition: color 0.1s;
    &:after {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--elegant-link-hover-color);
    content: "";
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(5px);
  }
}
