/**
 * Components - Article content and formatting
 */

/* Article content */
.article-content,
div.recent-posts p {
  text-align: justify;
}

.article-content {
  max-width: 50em;
}

.article-content p {
  margin: 0 0 20px 0;
}

/* Fix text justification for code blocks - monospace fonts should use left alignment */
.article-content pre,
.article-content code,
.article-content .highlight {
  text-align: left;
}

/* Lists */
.article-content ul:not(.related-posts-list):not(.articles-timeline) {
  font-size: inherit;
  list-style-type: disc;
}

.article-content ul.related-posts-list {
  list-style-type: square;
}

.article-content ol {
  font-size: inherit;
  list-style-type: decimal;
}

.article-content li {
  line-height: 1.7em;
  list-style-position: outside;
  margin: 1px 0 1px 20px;
}

.article-content dl {
  font-size: inherit;
  list-style-position: outside;
  list-style-type: decimal;
  margin: 20px 0 20px 20px;
}

.article-content dd {
  line-height: 1.7em;
  margin: 1px 0 1px 20px;
  padding: 3px 0;
}

.article-content dt {
  font-size: inherit;
}

/* Article timeline navigation */
ul.articles-timeline {
  list-style: none;
  margin: 0;
  padding-bottom: 30px;
}

ul.articles-timeline .next-article {
  float: right;
  margin: 0;
}

ul.articles-timeline .previous-article {
  float: left;
  margin: 0;
}

/* Multi-part articles */
ul.multi-parts-list a {
  color: var(--elegant-text-color);
}

ul.multi-parts-list a:hover {
  text-decoration: none;
}

ul.multi-parts-list li.active-part {
  font-style: italic;
}

/* Table of contents */
.table-of-content .toc ul {
  margin: 0;
  padding: 0 0 0 0.2rem;
  list-style-type: none;
  list-style: symbols inside none;
}

.table-of-content .toc > ul > li > ul {
  padding-left: 1rem;
}

/* Last updated */
.last-updated a {
  color: var(--elegant-text-color);
}

.last-updated a:hover {
  text-decoration: none;
}

/* Images */
.article-content img {
  border: 2px solid #eee;
  padding: 5px;
  max-width: 100%;
  height: auto;
}

/* Post share links */
p#post-share-links {
  text-align: right;
}

#post-share-links:not(a) {
  color: var(--elegant-muted-text);
  text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.15);
}

#post-share-links a {
  text-shadow: 0 0;
}

/* Figures */
div.figure,
.article-content img {
  text-align: center;
  max-width: 100%;
  height: auto;
}

div.figure img {
  width: 100%;
}

div.figure p.caption {
  color: gray;
  font-size: 0.6em;
  margin: 0;
}

div.figure p.caption a {
  border: none;
  color: gray;
}

div.figure.align-right,
.article-content img.align-right {
  float: right;
  margin-left: 1.5em;
}

div.figure.align-left,
.article-content img.align-left {
  float: left;
  margin-right: 1.5em;
}

/* Author blurb */
.author-blurb {
  padding: 5px 0;
}

.author-blurb img {
  padding: 0;
  width: 32px;
  height: 32px;
}

/* Helper CSS classes */
.amp {
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Serif;
  font-style: italic;
}

/* reST specific rules */
.literal {
  background-color: var(--elegant-code-bg);
  border-radius: var(--borderRadius);
  border: 1px solid var(--elegant-code-border);
  color: var(--elegant-code-text);
  padding: 2px 4px;
  white-space: nowrap;
}

div.line-block div.line-block {
  margin-left: 1.5em;
}
