/**
 * Components - Tables
 */

/* Base table styles */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--elegant-table-border);
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  border-radius: var(--borderRadius);
}

table th,
table td {
  border-left: 1px solid var(--elegant-table-border);
  padding-left: 2px;
  padding-right: 2px;
}

table thead:first-child tr:first-child th {
  border-top: 0;
}

table thead:first-child tr:first-child > th:first-child {
  border-top-left-radius: var(--borderRadius);
}

table thead:first-child tr:first-child > th:last-child {
  border-top-right-radius: var(--borderRadius);
}

table tbody:last-child tr:last-child > td:first-child {
  border-bottom-left-radius: var(--borderRadius);
}

table tbody:last-child tr:last-child > td:last-child {
  border-bottom-right-radius: var(--borderRadius);
}

table tbody > tr:nth-child(odd) > td {
  background-color: var(--elegant-table-odd-bg);
}

/* Github Gist tables */
.gist table {
  table-layout: initial;
}

/* Code tables */
table {
  table-layout: fixed;
  width: 100%;
}

td {
  vertical-align: top;
}

table.highlighttable {
  border: none;
}

table.highlighttable td {
  border: none;
}

table.highlighttable tbody > tr:nth-child(odd) > td {
  background-color: transparent;
}
